<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form>
  <label for="work-title">Title of Work:</label>
  <input type="text" name="work-title" id="work-title" />
  <label for="genre">Genre:</label>
  <input type="text" name="genre" id="genre" />
  <label for="composer">Composer:</label>
  <input type="text" name="composer" id="composer" min="0" />
  <label for="composer">Composer:</label>
  <input type="text" name="composer" id="composer" min="0" />
  <label for="yearComposed">Year Composed:</label>
  <input type="text" name="yearComposed" id="yearComposed" min="0" />
  <label for="catalogueSystem">Catalogue System(optional):</label>
  <input type="text" name="catalogueSystem" id="catalogueSystem"/>
  <label for="catalogueNumber">Catalogue Number(Optional):</label>
  <input type="text" name="catalogueNumber" id="catalogueNumber"/>
  <label for="youTube">YouTube Link(Optional):</label>
  <input type="text" name="youTube" id="youTube"/>
  <button type="submit">Add Work</button>
</form>

    
</body>
</html>