<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form>
  <label for="composer-name">Composer's Full Name:</label>
  <input type="text" name="composerName" id="composer-name" />
  <label for="image">Composer Image:</label>
  <input type="image" src="img_submit.gif" alt="Submit" width="48" height="48">
  <label for="sex">Sex:</label>
  <input type="text" name="sex" id="sex" />
  <label for="birth-year">Birth Year or Date:</label>
  <input type="number" name="birthYear" id="birth-year" min="0" />
  <button type="submit">Add Composer</button>
</form>

    
</body>
</html>